<!-- CREATE NEW [PAGE] | CREATE NEW [PAGE] |CREATE NEW [PAGE] |CREATE NEW [PAGE] | -->
<!-- CREATE NEW [PAGE] | CREATE NEW [PAGE] |CREATE NEW [PAGE] |CREATE NEW [PAGE] | -->
<div id="create-new-page-forms-id" class="signed-in-view col-xs-8">

    <div class="create-new-page-forms-header">
      <h2>Create New Page</h2>
    </div>

    <div class="create-new-page-forms-body">

      <form id="create-new-page-forms-submit" class="form-inline">
        <div class="form-group">
          <label for="page-title">Page Title*</label>
          <input id="page-title-input-id" type="text" name="page[title]" class="form-control" autofocus required>
        </div>
        <br>
        <div class="form-group">
          <label for="page-description">Page Description*</label>
          <input id="page-description-input-id" type="text" name="page[description]" class="form-control" required>
        </div>
        <br>
        <div class="form-group">
          <label for="page-user">Page User*</label>
          <input id="page-user-input-id" type="text" name="page[user]" class="form-control" hidden required>
        </div>
        <br>
        <div class="form-group create-new-page-buttons-div">
          <button type="submit" class="btn btn-success submit-button-class">Create</button>
          <button type="submit" class="btn btn-warning submit-button-blass">Cancel</button>
          <button type="submit" class="btn btn-warning submit-button-blass">Edit</button>
          <button type="submit" class="btn btn-danger submit-button-blass">Delete</button>
        </div>
    </form>

  </div>
</div>

<!-- CREATE NEW [POST] | CREATE NEW [POST] | CREATE NEW [POST] | CREATE NEW [POST] -->
<!-- CREATE NEW [POST] | CREATE NEW [POST] | CREATE NEW [POST] | CREATE NEW [POST] -->

<div id="create-new-post-forms-id" class="signed-in-view col-xs-8">

    <div class="create-new-post-forms-header">
      <h2>Create New Post</h2>
    </div>

    <div class="create-new-post-forms-body">

      <form id="create-new-post-forms-submit" class="form-inline">
        <div class="form-group">
          <label for="post-title">Post Title*</label>
          <input id="post-title-input-id" type="text" name="post[title]" class="form-control" autofocus required>
        </div>
        <br>
        <div class="form-group">
          <label for="post-content">Post Content*</label>
          <input id="post-content-input-id" type="text-area" name="post[content]" class="form-control" required>
        </div>
        <br>
        <div class="form-group">
          <label for="post-user">Post User*</label>
          <input id="post-user-input-id" type="text" name="post[user]" class="form-control" hidden required>
        </div>
        <br>
        <div class="form-group create-new-post-buttons-div">
          <button type="submit" class="btn btn-success submit-button-class">Create</button>
          <button type="submit" class="btn btn-warning submit-button-class">Cancel</button>
          <button type="submit" class="btn btn-warning submit-button-class">Edit</button>
          <button type="submit" class="btn btn-danger submit-button-class">Delete</button>
        </div>
    </form>

  </div>
</div>
